<div class="main">
            
    <div class="content1">
        <div class="icon">
            <img src="../../assets/82c811a3afd73c763d57fe8e80cc1777.png" alt=""><br>

        </div><br><br>

        <label for="" class="txt"id="reg_uname">USERNAME</label><br>
        <input type="text" class="input"><br><br>
        <label for=""class="txt" id="reg_acno">ACCOUNT NUMBER</label><br>
        <input type="text" class="input"><br><br>
        <label for=""class="txt"id="reg_pswd">PASSWORD</label><br>
        <input type="password"class="input"><br>
        <button class="btn"onclick="register() ">SIGNUP</button><br><br>
        <a href="">sign in</a>
    </div>
</div>
